@media screen and (min-width:320px) {
    html {
        font-size:85.3333px;
    }
}@media screen and (min-width:360px) {
    html {
        font-size:96px;
    }

}@media screen and (min-width:375px) {
    html {
        font-size:100px;
    }

}@media screen and (min-width:384px) {
    html {
        font-size:102.4px;
    }

}@media screen and (min-width:400px) {
    html {
        font-size:106.667px;
    }

}@media screen and (min-width:414px) {
    html {
        font-size:110.4px;
    }

}@media screen and (min-width:424px) {
    html {
        font-size:113.067px;
    }

}@media screen and (min-width:480px) {
    html {
        font-size:128px;
    }

}@media screen and (min-width:540px) {
    html {
        font-size:144px;
    }

}@media screen and (min-width:720px) {
    html {
        font-size:192px;
    }

}@media screen and (min-width:750px) {
    html {
        font-size:192px;
    }

}


body,html{
	margin: 0px;
	padding: 0px;
}

.status-bar{background: #222;}

.row{
	display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
	flex-direction: row;
	align-items: center;
}

.row_center{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.row_between{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.row_around{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}


.col{
	display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
	flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column nowrap;
	justify-content: center;
}

.col_center{
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.col_around{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.col_between{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.empty_text{width: 100%; height: 4rem; line-height: 4rem; text-align: center;background: #ffffff; border: none; z-index: 10;}

.flex_one{
	flex: 1;
}

header{
	font-size: 18px;
	color: #333333;
	background-color: #FFFFFF;
}
/**
 * 头部返回图标的颜色
 */
header > a{
	color: #333333;
}

header img{
	width: 0.3rem;
	height: 0.44rem;
	padding: 0.14rem 0.08rem 0.14rem 0.04rem;
}

head .mui-title{
	font-weight: bold;
}

header h1{
	font-weight: bold!important;
}

.hideClass{
	display: none;
}

.showClass{
	display: inline-block;
}

.mui-bar{background: #fff;}

.mui-bar .has-select span{display: inline-block;vertical-align: middle;}
.mui-bar .has-select img{width:0.16rem;height:0.19rem;display: inline-block;vertical-align: middle;margin-top:0;padding:0;}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color: #FF5269!important;}

.blue{color:#107EFF!important;}
.pd-bottom{padding-bottom:0.1rem;}


#modalMenuCol{position: fixed;left:0;top:0;width:100%;height:100%;z-index:10000;}
#modalMenuCol .shadowModal{background: rgba(0,0,0,0.6);position: absolute;left:0;top:0;width:100%;height:100%;z-index:20000;}

.shadow-col{width:100%;position: fixed;height:100%;background: rgba(0,0,0,0.6);z-index:29000;left:0;top:0;}

.modal-menu {
	background:rgba(242,242,242,1);
	position: absolute;
	left:0;top:0;
	height:100%;
	z-index:30000;
	width:100%;
	color:#333;
}

.modal-menu .title {
	margin: 35px 15px 10px;
}

.modal-menu .title+.content {
	margin: 10px 15px 35px;
	color: #bbb;
	text-indent: 1em;
	font-size: 14px;
	line-height: 24px;
}

.modal-menu .mui-table-view {
	margin-bottom: 35px;
}

.modal-menu .head_wrap img{
	width: 60px;
	height: 60px;
	margin-right: 20px;
	border-radius: 50%;
}

.modal-menu .menu_item{
	padding: 0px 10px;
	height: 60px;
	border-bottom: 1px solid rgba(242,242,242,1);;
	background: #fff;
}

.modal-menu .menu_item>span{font-size:14px;color:#666;}

.modal-menu .menu_item img{
	width: 20px;
	height: 20px;
	margin-right: 10px;

}

.modal-menu .list_wrap{
	color: #333;
	height: 100%;
}

.modal-menu .change_pwd{
	border-bottom: 10px solid rgba(242,242,242,1);;
	border-top: 10px solid rgba(242,242,242,1);;
	height: 80px;
}

.modal-menu .logout{
	color: #0062CC;
	height: 60px;
	background: #fff;
}

.modal-menu .head_wrap{color:#fff;background:linear-gradient(-45deg,rgba(89,98,178,1) 0%,rgba(112,122,214,1) 100%);
	height: 150px;
	width: 100%;
	box-sizing: border-box;
}

.tab-border{width:100%;left:0;position: fixed;bottom:0;background: #E6E6E6;z-index:100000;}


.right-modal{width:100%;position: fixed;height:100%;z-index:29000;left:0;top:0;}


.right-modal-col{overflow:hidden;display:none;position: fixed;width:3rem;right:-3rem;top:0;height:100%;background: #fff;padding-top:0.06rem;box-sizing: border-box;z-index:30002;}

.right-modal-col .modal-row{font-size:0.13rem;padding:0.23rem 0.1rem 0 0.1rem;}
.right-modal-col .modal-row .tag-list{font-size:0;}
.right-modal-col .modal-row .tag-list span{background: #f5f5f5;border-radius:0.04rem;border:1px solid #f5f5f5;box-sizing:border-box;font-size:0.13rem;margin-right:0.06rem;margin-bottom:0.06rem;color:#707070;display: inline-block;height:0.31rem;width:0.88rem;text-align: center;line-height: 0.3rem;}
.right-modal-col .modal-row .tag-list span:nth-child(3n+3){margin-right:0;}
.right-modal-col .modal-row .modal-title{padding-bottom:0.06rem;}
.right-modal-col .modal-row .tag-list span.active{background: #dee0f0;border:1px solid #8d90d5;color:#8d90d5;box-sizing: border-box;}

.right-modal-col .date-main{padding:0.1rem 0.1rem;}

.right-modal-col .date-main .date-col{float:left;width:1.16rem;line-height:0.25rem;height:0.25rem;background: #f5f5f5;
	text-align: center;border-radius: 0.16rem;color:#999;font-size:0.12rem;}

.right-modal-col .date-main .line{width:0.26rem;height:1px;background: #ddd;float:left;margin:0 0.05rem;position: relative;top:0.12rem;}

.right-modal-col .modal-bottom{font-size:0;position: absolute;right:0.15rem;bottom:0.15rem;}
.right-modal-col .modal-bottom span{font-size:0.16rem;color:#fff;width:0.89rem;text-align: center;line-height:0.44rem;display: inline-block;}
.right-modal-col .modal-bottom span:last-child{background: #5962b2;border-radius: 0 0.3rem 0.3rem 0;}
.right-modal-col .modal-bottom span:first-child{background: #b0b2f3;border-radius: 0.3rem 0 0 0.3rem;}



