.jingpin-col{padding:0 15px 0.16rem 15px;border-top:0.16rem solid #f1f1f1;background: #fff;box-sizing: border-box;width:100%;}


.jingpin-title{position: relative;padding-left:0.1rem;font-weight: bold;font-size:0.16rem;padding-top:0.2rem;}
.jingpin-title:before{content: " ";display: inline-block;position: absolute;width:0.03rem;height:0.14rem;background: #ea002a;left:0;top:0.22rem;}

.chart-tab-col{border-radius:4px;white-space: nowrap;max-width:100;overflow: auto;}
.chart-tab{margin-top:0.2rem;}

.jingpin-col .jingpin-top{font-size:0.12rem;text-align: center;}
.jingpin-col .jingpin-top .jingpin-top-detail{margin-right:0.1rem;display: inline-block;padding:0.1rem 0;}
.jingpin-col .jingpin-top .jingpin-top-detail .quan{width:8px;height:8px;background: #ea002a;display: inline-block;vertical-align: middle;margin-right:0.05rem;position:relative;top:-0.02rem;border-radius: 50%;}
.jingpin-col .jingpin-top .jingpin-top-detail span{display: inline-block;vertical-align: middle;}
.jingpin-col .jingpin-row.last{padding-bottom:0;}
.jingpin-col .jingpin-row.last .line-col span{width:25%;background: #fff!important;color:#999;position: relative;left:-0.1rem;z-index:100;}
.jingpin-col .jingpin-row.last .line-col #duanValue3{margin-left:-0.1rem;}
.jingpin-chart{position: relative;}
.jingpin-chart .jingpin-top{width:100%;z-index:10000;white-space: nowrap;overflow: auto;position:relative;top:0.1rem;}
.jingpin-chart .chart-tab-col div{display:inline-block;padding:0 0.1rem;text-align: center;border:1px solid #ea002a;border-left:0;line-height: 0.3rem;box-sizing: border-box;color:#ea002a;}
.jingpin-chart .chart-tab-col div:first-child{border-left:1px solid #ea002a;border-radius: 4px 0 0 4px;}
.jingpin-chart .chart-tab-col div:last-child{border-radius: 0 4px 4px 0;}
.jingpin-chart .chart-tab-col div.active{background: #ea002a;color:#fff;}
.jingpin-col .jingpin-row.last .line-col span.last-text{position: absolute;right:0;left:auto;text-align: right;width:auto;}

.jingpin-col .jingpin-row{padding:0 0 0.18rem 0.85rem;position: relative;}
.jingpin-col .jingpin-row .left{position: absolute;left:0;top:0.02rem;font-size:0.12rem;text-align: right;display: inline-block;width:0.75rem;}
.jingpin-col .jingpin-row .line-col{height:0.18rem;font-size:0;position: relative;}
.jingpin-col .jingpin-row .line-col span{font-size:0.12rem;color:#fff;display: inline-block;box-sizing: border-box;padding-left:0.05rem;position: relative;z-index:10;}
.jingpin-col .jingpin-row .line-col span:first-child{background: #ea002a;}
.jingpin-col .jingpin-row .line-col span:nth-child(2){background: #ff375b;}
.jingpin-col .jingpin-row .line-col span:nth-child(3){background: #ff8097;}
.jingpin-col .jingpin-row .line-col span:nth-child(4){background: #ffbdc9;}

.jingpin-col .jingpin-top .jingpin-top-detail .quan1{background: #ea002a;}
.jingpin-col .jingpin-top .jingpin-top-detail .quan2{background: #ff375b;}
.jingpin-col .jingpin-top .jingpin-top-detail .quan3{background: #ff8097;}
.jingpin-col .jingpin-top .jingpin-top-detail .quan4{background: #ffbdc9;}

.jingpin-row-list{height:200px;margin-top:-0.5rem;}


.jingpin-row-list .jingpin-row:last-child .line-col:before{width:1px;border-left:1px dashed #ccc;content: " ";display: block;position: absolute;left:50%;bottom:0;}
.jingpin-row-list .jingpin-row:last-child .line-col:after{width:1px;border-left:1px dashed #ccc;content: " ";display: block;position: absolute;right:0;bottom:0;}

.jingpin-bottom{background: #fff;position: fixed;bottom:0;left:0;height:0.49rem;width:100%;line-height: 0.49rem;z-index:3000;border-top:1px solid #ddd;}
.jingpin-bottom .left{float:left;width:25%;text-align: center;font-size:0.12rem;}
.jingpin-bottom .left span{font-size:0.14rem;}
.jingpin-bottom .left .mui-icon-arrowdown{display: none;}
.jingpin-bottom .left.active .mui-icon-arrowdown{display: inline-block;}
.jingpin-bottom .left.active .mui-icon-arrowup{display: none;}
.jingpin-bottom .right div{position: relative;text-align: center;font-size:0.14rem;flex: 1;}
.jingpin-bottom .right div.active{color:#ea002a;}

.jingpin-chart-tab{background: #fff;flex-wrap: nowrap;}
.jingpin-chart-tab div{line-height: 0.44rem;position: relative;text-align: center;display: inline-block;min-width:0.5rem;flex:1;

}
.jingpin-chart-tab div.active:after{height:2px;width:100%;background: #ea002a;position: absolute;bottom:0;left:0;content: " ";}
.jingpin-pro{padding:0.2rem 0.4rem 0.2rem 1rem;position: relative;font-size:0.15rem;color:#000;line-height: normal;}
.jingpin-pro img{width:0.79rem;height:0.79rem;border-radius: 0.06rem;position: absolute;left:0.1rem;top:0.2rem;}
.jingpin-pro .right div{margin-top:0.02rem;padding-bottom:0.1rem;}
.jingpin-pro .shoucang img{position: absolute;right:0.15rem;left:auto;top:0.4rem;width:0.22rem;height:0.22rem;}
.jingpin-pro .shoucang img:last-child{display: none;}
.jingpin-pro .shoucang.active img:first-child{display: none;}
.jingpin-pro .shoucang.active img:last-child{display: block;}
.jingpin-chart-main{padding:0 15px;box-sizing: border-box;background: #fff;margin-top:-0.4rem;}
.jingpin-chart-col{width:100%;height:3rem;background: #fff;}

.pinglun-col{height:3.25rem;background: #fff;position: fixed;bottom:0.48rem;width:100%;left:0;z-index:30000;padding:15px 15px 15px 15px;}

.pinglun-list{list-style: none;padding:0;margin:0;font-size:0.12rem;max-height:2.3rem;overflow:auto;background: #f5f5f5;border-radius: 0.1rem;margin-top:0.15rem;padding:0.15rem;}
.pinglun-title{font-weight: bold;padding:0.13rem 0;border-bottom:1px solid #ddd;position: relative;}
.pinglun-title .right{position: absolute;right:0;font-weight: normal;color:#999;}
.pinglun-list .tag-list{padding:0.05rem 0;}
.pinglun-list .tag-list span{background: #e6e6e6;border-radius: 0.1rem;display: inline-block;padding:0.02rem 0.16rem;font-size:0.1rem;margin:0 0.01rem;}
.pinglun-list .name-text{font-weight: bold;font-size:0.12rem;color:#000;}
.pinglun-list .name-tag{margin-left:0.06rem;color:#fd2323;border:1px solid #fd2323;display: inline-block;padding:0.01rem 0.06rem;border-radius: 0.15rem;}
.pinglun-list .time-text{color:#999;}
.pinglun-list .name-col{position: relative;}
.pinglun-list .name-col .right{position: absolute;right:0;top:0;}
.pinglun-list .name-col .right img{width:0.21rem;}
.pinglun-list .name-col .right img:last-child{display: none;}
.pinglun-list .name-col .right.active img:last-child{display: block;}
.pinglun-list .name-col .right.active img:first-child{display: none;}
.pinglun-list li .img-list{padding:0.03rem 0;}
.pinglun-list li .img-list img{width:0.4rem;height:0.4rem;margin:0.02rem;}






